@page
@model JwtApp.Pages.errors._401Model
@{
    ViewData["title"] = "You are unauthorized";
}
<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">401</h1>
    <p style="font-size: 50px; ">Unauthorized</p>
    <p>You do not have right to access this page.</p>
</div>