@page
@model JwtApp.Pages.errors._404Model
@{
    ViewData["title"] = "Page not found";
}
<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Not Found</p>
    <p>THe page you were searching for was not found.</p>
</div>